/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/marcas_auto_ado.png') no-repeat center top;
  background-size: contain;
}
